body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(124, 123, 123, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
  height: auto;
  margin-right: 10px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav img {
  width: auto;
  height: auto;
  cursor: pointer;
}

.search-cart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-cart input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.cart-icon {
  font-size: 24px;
  cursor: pointer;
}
